@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
:root {
    --color-light: #FFFFFF;
    --color-dark: #170706;
    --color-grey: #959595;
    --color-ghost-white: #F4F6F8;
    --color-orange: #F4721E;
    --color-steel-blue: #2B7E9D;
    --color-blue-violet: #6B61BB;
    --color-dark-slate-blue: #2D3B58;

    --primary-font: 'Sofia Sans Extra Condensed', sans-serif;
    --heading-font: 'DM Serif Display', serif;
}
