:root {
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

    --color-light: #FFFFFF;
    --color-dark: #170706;
    --color-grey: #959595;
    --color-ghost-white: #F4F6F8;
    --color-orange: #F4721E;
    --color-steel-blue: #2B7E9D;
    --color-blue-violet: #6B61BB;
    --color-dark-slate-blue: #2D3B58;

    --primary-font: 'Open Sans', sans-serif;
}
